    body{

        margin:0;
        padding:0;
        background-image: url("../img/bgimage.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    form{
        margin: auto;
        align-self: center;
        width: 50%;
    }
    .container h2{
        text-align: center;
    }
    label{
        font-size: 16px;
        font-weight: bold;

    }

    input[type="text"]{
        margin-bottom: 15px;
    }
    table{
        border: 1px;
    }
    td{
        border: 0;
    }
    tr{
        height: 30px;
    }

    .rowimage{
        width: 50px;
        height: 35px;
    }


    .viewdiv{

        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        border: solid white 2px;
        border-radius: 5px;
        background-color: #85B5CB;
    }
    .viewdiv td{
        font-weight: bold;
    }
    .viewdiv h2{

        background-color:#85B5CB;
        padding-top: 15px;
        padding-bottom: 15px;
        margin:0;
        color: #C0E2F5;
    }